hello{
    color: red;
}

h1{
    text-align: center;
    color: plum;
    background-color: rgb(184, 18, 184);
}

td{
    text-align: center;
}

body{
    background-color: plum;
    font-family: cursive;
}

nav {
    height: 50px;
    background-color: #ff80ff;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  