
h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(184, 18, 184);
    text-shadow: 2px 2px 10px black;
  }

  h2{
    color: rgb(184, 18, 184)
  }
  

td{
    text-align: center;
}

body{
    background-color: plum;
    font-family: cursive;
}

nav {
    height: 75px;
    vertical-align: middle;
    background-color:rgb(184, 18, 184);
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: plum;
  }

  on_page{
    color: rgb(113, 18, 113);
  }
  